{% extends 'shared/_MainLayout.html' %}
{% block title %}
    Checking
{% endblock %}
{% block content %}
    <div class="container mt-5">
        <div class="alert alert-primary text-center shadow text-dark" role="alert">
            {% if passed is True %}
                <h4>
                    Congratulations!<span>&#128512;</span>
                    <br><br>
                    Your Score: {{ score }}%, you passed the exam.
                </h4>
            {% else %}
                <h4>
                    Opps!<span>&#128533;</span>
                    <br><br>
                    Your Score: {{ score }}%, you failed the exam.
                </h4>
            {% endif %}
        </div>
    </div>
    <div class="container">
        {% for result_key , result_value in results.items %}
            <div class="alert {% if result_value.0 %} alert-success {% else %} alert-danger {% endif %}" role="alert">
                {{ result_key }} : {{ result_value.1 }}
            </div>
        {% endfor %}
    </div>
    <div class="container">
        <a href="{% url 'quiz:home-view' %}" class="btn btn-block btn-warning">Start Again</a>
    </div>
{% endblock %}