{% extends 'shared/_MainLayout.html' %}
{% block title %}
    Quiz
{% endblock %}
{% block content %}
    <div class="container">
        <h2 class="text-center text-success">Answer The Questions Bellow ...</h2>
        <h4 class="text-center text-danger">{{ quiz.difficulty|title }} Quiz</h4>
        <h5 class="text-center text-info">Score To Pass: {{ quiz.min_score|title }}%</h5>
        <p class="text-center">Time Remaining: <span id="minutes"></span>:<span id="seconds"></span> <i
                class="fa fa-clock-o"></i></p>

        <hr>
    </div>
    <div class="container mt-4 mb-5">
        <a href="{% url 'quiz:home-view' %}" class="btn btn-danger">Go Back</a>
    </div>
    <div class="container bg-dark p-4 mb-5" id="questions-div">
        {#        <form method="get" id="quiz-form" action="{% url 'quiz:quiz-check' quiz.id %}">#}
        <form method="post" id="quiz-form" action="{% url 'quiz:quiz-check' quiz.id %}">
            {% csrf_token %}
            {% for question in questions %}
                <!-- q1 -->
                <div class="p-3 m-2 bg-light question">
                    <div>
                        <h5>{{ question.question_text }}</h5>
                    </div>
                    <div class="p-5">
                        {% for ans in question.answer_set.all %}
                            <div class="d-block">
                                <input type="radio" class="mt-2 ans" name="{{ ans.question.question_text }}"
                                       value="{{ ans.answer_text }}">
                                <label for="{{ ans.question.question_text }}">{{ ans.answer_text }}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-block btn-success">check</button>
        </form>
    </div>
    <script>
        const s =
        {{ quiz.required_time }} *
        1000;
        let start = new Date().getTime();
        let end = start + s;
        const days = Math.floor(end / (1000 * 60 * 60 * 24));
        const hours = Math.floor((end % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        const minutes = Math.floor((end % (1000 * 60 * 60)) / (1000 * 60));
        const seconds = Math.floor((end % (1000 * 60)) / 1000);
        console.log('time finishing', start, end)
        // Update the count down every 1 second
        const x = setInterval(function () {
            let now = new Date().getTime();
            if (now < end) {
                console.log('now', now)
            } else if (now >= end) {
                console.log('quit', now)
            }

            const distance = end - now;

            // Time calculations for days, hours, minutes and seconds
            const days = Math.floor(distance / (1000 * 60 * 60 * 24));
            const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            const seconds = Math.floor((distance % (1000 * 60)) / 1000);

            $("#minutes").html(minutes + "<span>Minutes</span>");
            $("#seconds").html(seconds + "<span>Seconds</span>");

            if (distance < 0) {
                clearInterval(x);
                console.log(distance)
                $("#minutes").html('00' + "<span>Minutes</span>");
                $("#seconds").html('00' + "<span>Seconds</span>");
                //document.getElementById("countdown").innerHTML = "We are live";
            }
        }, 1000);
    </script>
{% endblock %}